@use "../../../styles/typography.scss" as *;

.container {
  padding: 20px;
  width: 450px;
  max-width: 100%;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-primary);
}

.form {
  width: 100%;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.urlInputContainer {
  position: relative;
  margin-bottom: 20px;
}

.urlPrefix {
  position: absolute;
  left: 10px;
  bottom: 12px;
  color: #666;
  font-size: 12px;
  z-index: 2;
  pointer-events: none;
}

.urlInputContainer input {
  padding-left: 40px !important;
}

.switchLabel {
  @include label;
}
