.container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}

.fileInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.iconWrapper {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;

  svg {
    path {
      fill: var(--icon-stroke);
    }
  }
}
