.messages {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--messages-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: relative;
    left: -2px;

    path {
      fill: var(--icon-stroke);
    }
  }
}
